<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Demo de semana 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Este es el resultado de un h1</h1>
            
        <div>TODO write content</div>
    </body>
    
    <footer>
        <h2>Este es el footer derechos reservados</h2>
        
    </footer>
</html>
